.header {
    width: 100%;
    height: 80px;
    background: #1C2B35;
}

.nav {
    height: 100%;
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    margin-left: 36px;
}