.review-product {
    width: 571px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom:21px ;


}

.review-product h3,p{
    margin: 0;
}
.review-product img {
    width: 91px;
    height: 91px;

}

.product-review-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-icon{
    font-size: 27px;
    color: #EB5757;
}
.delete-btn{
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}